
body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}
#menu-image {
    height: 50px;
}

#menu-image img {
    height: 100%;
    width: auto;
    display: block;
}

.menu {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: relative;
}

#menu-list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.mission {
    background-image: url("images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission h2{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission h4{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-tea h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-tea h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teas {
    display: flex;
    justify-content: space-around;

}

.teas > div {
    flex: 1;
    text-align: center;
    margin: 0 10px;
}

.teas img {
    height: 200px;
    width: 300px;
}


.other-teas {
    display: flex;
    justify-content: space-around;

}

.other-teas > div {
    flex: 1;
    text-align: center;
    margin: 0 10px;
}

.other-teas img {
    height: 200px;
    width: 300px;
}