#menu-image {
    height: 50px;
}

#menu-image img {
    height: 100%;
    width: auto;
    display: block;
}

.menu {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: relative;
}

#menu-list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
